<template>
    <div class="container-fluid p-5">
        <div class="row">


            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Generated form area</div>
                    <div class="card-body">
                        <form action="" id="form-box-results">
                            <input type="button" class="btn btn-primary" value="generate HTML" @click="generateForm()" >
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Form elements</div>
                    <div class="card-body form-elements">
                        <div id="fb-editor">

                        </div>
                        <!-- <div class="form-group" @mouseup="leaveElement($event)" @mousedown="dragElement($event)">
                            <input type="text"  class="form-control disabled" placeholder="Input text">
                        </div>
                        <div class="form-group" @mouseup="leaveElement($event)" @mousedown="dragElement($event)">
                            <select class="form-control disabled">
                                <option value="" selected>Select element</option>
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        mounted(){

            $('#fb-editor').formBuilder();
        },
        
        methods :  {
            
            dragElement(event){
                console.log('am in')
            },

            leaveElement(event){
                console.log('am out')
            },

            generateForm(){
                const html = $('#fb-editor').formRender('html'); // HTML string
            }


        }

    
    }
</script>


<style lang="scss">
.disabled{
      pointer-events: none;
      background: #f4f6fa;
}

</style>
